body{
    padding: 55px 105px;
    background-image: linear-gradient(to right,rgb(168, 220, 124),rgb(243, 206, 86));
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
header{
    align-items:center;
    display:flex;
    justify-content:center;
    height: 500px;
    background-image: url(./BOOKS_IMAGES/image.png);
    border-radius: 25px;
}
main{
    padding:50px 0px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
article{
    background-color: white;
    width:800px;
    height:770px;
    font-size: 40px;
}
aside{
    width:400px;
    height:980px;

}
.title{
    padding: 10px;
    background-color: rgba(118, 113, 113, 0.623);
}
section{
    background-color: white;
    margin-bottom:30px;
}
.book{
    padding:18px;
}
input[type="radio"]
{
    padding: 10px;
    font-size:18px;
}
.books{
    height: 160px;
    font-size: 18px;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
}
button{
    padding:10px;
    font-size: 20px;
}
.t1{
    padding: 18px;
}
.b1{
    padding: 18px;
}